# MUXCORE_MODULE_ID=publish-policy-default
# MUXCORE_GRPC_ADDR=localhost:9090
# MUXCORE_INSECURE_DISABLE_TLS=true
# PUBLISH_POLICY_GRPC_ADDR=127.0.0.1:9102
# PUBLISH_POLICY_FILE=policies.yaml
# PUBLISH_POLICY_TLS_DIR=~/.muxcore/tls/publish-policy-default
